*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-size: 8px;
  background-color: #FFF5E6;
  font-family: "Lato", sans-serif;
  display: grid;
  grid-template-rows: 100vh auto auto auto; }
  @media only screen and (min-width: 56.25em) {
    body {
      font-size: 12px;
      grid-template-rows: 100vh auto auto auto; } }
  @media only screen and (min-width: 75em) {
    body {
      font-size: 16px; } }

@keyframes upToDown {
  0% {
    opacity: 0;
    transform: translateY(-20rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(5rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes appearFromCenter {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

.heading-primary {
  cursor: default;
  color: transparent;
  -webkit-background-clip: text;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  transition: all .2s;
  text-align: center; }
  .heading-primary:hover {
    transform: scale(1.1);
    font-weight: 900;
    text-shadow: -1rem 1rem 2rem rgba(0, 0, 0, 0.3); }

.header {
  background-image: linear-gradient(rgba(127, 33, 34, 0.8), rgba(127, 33, 34, 0.8)), url(../img/background-phone.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (min-width: 56.25em) {
    .header {
      background-image: linear-gradient(rgba(127, 33, 34, 0.8), rgba(127, 33, 34, 0.8)), url(../img/map_117AD.png); } }
  .header__title-box {
    width: 100%;
    text-align: center; }

.heading {
  overflow: hidden; }
  .heading--main {
    display: block;
    color: #FACD1E;
    font-size: 5rem;
    text-transform: uppercase;
    animation: upToDown 1s ease-out; }
  .heading--sub {
    display: block;
    color: #E5DBB7;
    font-size: 2rem;
    text-transform: capitalize;
    animation: rightToLeft 1s ease-out; }
  .heading--third {
    display: block;
    color: #FFF5E6;
    font-size: 3rem;
    animation: appearFromCenter 1s ease-out;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center; }
    .heading--third::before, .heading--third::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; }

.emperators {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) [start-content] minmax(min-content, 65rem) [end-content] minmax(1rem, 1fr); }
  .emperators__inner-grid {
    grid-column: start-content / end-content;
    display: grid;
    grid-template-columns: [full-start] repeat(auto-fit, minmax(15rem, 1fr)) [full-end];
    grid-gap: 3rem;
    grid-template-rows: 8rem min-content;
    margin-bottom: 5%; }
  .emperators h2 {
    background-image: linear-gradient(to right, #7F2122, #800080); }

.heading-grid {
  grid-column: full-start / full-end;
  grid-row: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center; }

.card-shield {
  width: 100%;
  height: 23rem;
  background-color: #D32929;
  clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  display: grid;
  align-items: center;
  transition: all 0.4s cubic-bezier(0.13, 1.13, 0.58, 0.36);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .card-shield:hover {
    cursor: default;
    background-color: #800080; }
  .card-shield__image {
    width: 7rem;
    height: 7rem;
    margin: 1rem 0;
    border-radius: 50%; }
  .card-shield__title {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem; }
  .card-shield__timeage {
    display: grid;
    width: 100%;
    font-size: 0.8rem;
    grid-template-columns: 1fr max-content 1fr;
    color: #fff;
    text-align: center; }
    .card-shield__timeage::before, .card-shield__timeage::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
      align-self: center; }
  .card-shield__marks ul {
    color: #FACD1E;
    margin: 3px;
    list-style-type: none; }
    .card-shield__marks ul li {
      text-align: center;
      padding: 0.5rem; }
      .card-shield__marks ul li:not(:last-child) {
        border-bottom: 1px solid currentColor; }

.footer {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #777777;
  width: 100%; }
  .footer a {
    color: currentColor;
    text-decoration: none; }
  .footer ~ div {
    width: 100%; }
  .footer__title-box {
    margin: 5% 0 2% 0;
    text-align: center; }
  .footer__social-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    @media only screen and (min-width: 37.5em) {
      .footer__social-box {
        flex-direction: row;
        align-items: flex-start; } }
    .footer__social-box > div {
      display: flex;
      flex-direction: column;
      align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .footer__social-box--mobile {
        display: none !important; } }
    .footer__social-box--images {
      align-items: center;
      width: 50%; }
      .footer__social-box--images--images-group {
        display: flex;
        justify-content: space-evenly;
        width: 90%; }
      .footer__social-box--images::after {
        content: "";
        margin-top: 20px;
        height: 75px;
        width: 1px;
        display: block;
        background-color: currentColor; }
  .footer__contact {
    text-align: center;
    align-self: center;
    width: 30%;
    border: 1px solid currentColor;
    padding: 2%;
    margin-bottom: 5%; }
    @media only screen and (max-width: 37.5em) {
      .footer__contact {
        font-size: 1rem;
        width: 90%; } }

.footing {
  overflow: hidden; }
  .footing--main {
    display: block;
    font-size: 2.5rem;
    text-transform: capitalize; }
  .footing--sub {
    display: block;
    font-size: 1rem;
    text-transform: capitalize;
    align-items: center;
    display: flex;
    justify-content: space-around; }
    .footing--sub::before, .footing--sub::after {
      content: "";
      height: 1px;
      width: 25%;
      display: block;
      background-color: currentColor; }

.army {
  display: flex;
  padding: 5% 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7F2122; }
  .army__rowCard {
    display: flex;
    width: 100%;
    justify-content: space-around; }
  .army h2 {
    background-image: linear-gradient(to right, #FACD1E, #FACD1E); }

.soldierCard {
  margin: 5% 0;
  perspective: 150rem;
  -moz-perspective: 150rem;
  width: 24%;
  height: 30rem;
  position: relative; }
  .soldierCard__side {
    width: 100%;
    height: 30rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden; }
    .soldierCard__side--front {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .soldierCard__side--back {
      background-color: #FFF5E6;
      transform: rotateY(180deg);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5%; }
      .soldierCard__side--back h3 {
        color: #800080;
        font-size: 2rem; }
  .soldierCard:hover .soldierCard__side--front {
    transform: rotateY(180deg); }
  .soldierCard:hover .soldierCard__side--back {
    transform: rotateY(0deg); }
  .soldierCard dl {
    margin: 5% 0;
    text-align: center; }
    .soldierCard dl dd {
      margin: 5% 0;
      line-height: 2.5;
      color: color-grey-lightest;
      border-bottom: 1px solid black; }

.soldierBg {
  background-image: url(../img/soldier.jpg); }

.centurioBg {
  background-image: url(../img/centurio.jpg); }

.generalBg {
  background-image: url(../img/general.jpg); }

.emperorBg {
  background-image: url(../img/emperor.jpg); }
