// COLOR VARIABLES

//The Romans Color Scheme
$color-primary: #D32929; //Amaranth Red
$color-primary-dark: #7F2122; //Antique Ruby

$color-secondary: #FACD1E; //Deep Lemon

$color-bege-dark: #CAC198; //Dark Vanilla
$color-bege-medium: #E5DBB7; //Dutch White
$color-bege-light: #FFF5E6; //Old Lace

//Auxiliar Color Scheme
$color-grey-light: #999999;
$color-grey-lightest: #777777;

$color-grey-dark: #555555;
$color-grey-darkest:#333333;


// FONT VARIABLES
$font-primary: 'Lato', sans-serif;

