.header {            
    background-image: linear-gradient(
            rgba($color-primary-dark, .8), 
            rgba($color-primary-dark, .8)
        ), 
        url(../img/background-phone.jpg);
        
    @include respond(tablet) {
        background-image: linear-gradient(
            rgba($color-primary-dark, .8), 
            rgba($color-primary-dark, .8)
        ), 
        url(../img/map_117AD.png);
    }
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    
    &__title-box {        
        width: 100%;        
        text-align: center;
    }
}

.heading {
    overflow: hidden;

    &--main {
        display: block;
        color: $color-secondary;
        font-size: 5rem;
        text-transform: uppercase;
        animation: upToDown 1s ease-out;
    }

    &--sub {
        display: block;                
        color: $color-bege-medium;
        font-size: 2rem;
        text-transform: capitalize;
        animation: rightToLeft 1s ease-out;            
    }

    &--third {
        display: block;
        color: $color-bege-light;
        font-size: 3rem;
        animation: appearFromCenter 1s ease-out;        
        
        display: grid;    
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1.5rem;
        align-items: center;
        &::before,
        &::after {
            content: "";
            height: 1px;
            display: block;
            background-color: currentColor;
        }
    }
}